<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>


<body>
    
    <div class="topnav">
        <a href="#news">My Top Matches</a>
        <a href="/daters/allMembers">All Members</a>
        <a href = "/daters/home">Home Page</a>
        <div class="search-container">
            <form id = "searchForm">
              <input id = "searchBar" type="text" size = "30" height="30"placeholder="Search By Name.." name="search">
              <button id = "searchButton" type="submit"></button>
            </form>
        </div>
        

        <a id = "logout" class="active" href="/logout">Logout</a>
        
        </div>
    

  
    <div class = "messagePageInfo">
    <h1> Messages </h1>
   
    </div>

    <div id ="wholeMessage"> 


        <div id = "bigMessageDiv">

    <%messagesToShow.forEach(mess => {%>

        <%let whoSent;%>
        <% let imgSrc;%> 
                
            

        <% if(mess.to === otherUser.name){%>
            <% whoSent = 'fromMe'%>
            <% imgSrc =  '../../' + currUser.profilePic %>


        <% }else{%>

            <%  whoSent = 'toMe'%>
            <% imgSrc =  '../../' + otherUser.profilePic %>

        <%}%>
            <div  class = "wrapperDiv">
            <div class = '<%=whoSent%>'>
           
            <p  id = "top" class ="alex"><span class = "weak"><%=mess.date.toLocaleString()%></span></p>
            <p  id = "bottom" class ="alex"><%=mess.content%></p>
      
            </div>
        </div>

           
        <%})%>


    </div>
    <form method = "POST" action = "/daters/messagesPage/<%=otherUser._id%>" id = "lastForm">
        <textarea name = "content" id = "text" maxlength="300" placeholder="Give them a piece of your mind..." cols="60" rows="8"></textarea><br>
        <button id = "send" type ="submit">Send</button>
    </form>


</div>
    <br>    <br>
    <br>
    <br>

                
               

        
    
</body>
</html>