<!DOCTYPE html>
<html>

<head>
  <title>Dater Fun Facts</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  


  <br>
    
    <a id = "diagnostic2" href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a><br><br>

<div class = "middle">
    <h2>Welcome To <span class = "redText">G-Harmony </span> <%=user.name%>! </h2>
    <h3>"The Best Dating App on the interweb" <span class = "little">-no one</span></h3><br><br>
    <a id = "diagnostic" href = "/daters/new/Basics">Tell Us About You!</a>
</div>

 


    
  
          
  
</body>

</html>