<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styleNew.css" />

        
         

</head>
<body>

    <div class="topnav">
        <a class = "navs" id = "homeA" href = "/daters/home">Home Page</a>
        <div class="search-container">
            <form id = "searchForm">
              <input id = "searchBar" type="text" size = "30" height="30"placeholder="Just for show.." name="search">
              <button id = "searchButton" type="submit"></button>
            </form>
    </div>
        <a class = "navs" id = "logout" href="/logout">Logout</a>
        
    </div>

    
            
    
    <h1>The Basics...</h1><br>
    
        

        



        <form class="form" action="/daters/new/Basics" autocomplete="off" method="POST">



            <label><span class = "snass">Upload Profile Picture:</span></label>
                <input  required type="text" name="profilePic" class = "style"> <br><br><br><br>


            <div class = "custom-select">
              
            <label><span class = "snass">Gender:   </span></label>
            <select name="gender" id = "dropdown" class = "inputs" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select> <br><br><br>
            </div>
           
            <br><br>
            <label><span class = "snass">Interested in </span>(Check All That Apply):</label><br><br>
      
            <input type="checkbox" id = "M" class ="checks" name="interestedIn" value="Male">
            <label for="M"> <span class = "red">Men</span></label><br><br>
            <input type="checkbox" id = "W" class ="checks" name="interestedIn" value="Female">
            <label for="W"> <span class = "black">Women</span></label><br><br>
            <input type="checkbox" id = "O" class ="checks" name="interestedIn" value="Other">
            <label for="O"> <span class = "red">Other</span></label><br><br>
            <br><br>
            <label><span class = "snass">Age:</span></label>
            
            <input  required type="text" name="age" size="10" class = "style" > 
            <br><br><br><br>
    
            <label><span class = "snass">Location:</span></label><br><br>
            <input type="radio" id = "DT Los Angeles" class ="checks" name="location" value="DT Los Angeles">
            <label for="DT Los Angeles"><span class = "black">DT Los Angeles</span></label><br><br>
            <input type="radio" id = "Denver" class ="checks" name="location" value="Denver">
            <label for="Denver"> <span class = "red">Denver</span></label><br><br>
            <input type="radio" id = "Santa Monica" class ="checks" name="location" value="Santa Monica">
            <label for="Santa Monica"> <span class = "black">Santa Monica</span></label><br><br>
            <input type="radio" id = "Austin" class ="checks" name="location" value="Austin">
            <label for="Austin"> <span class = "red">Austin</span></label><br><br>
            <input type="radio" id = "Dallas" class ="checks" name="location" value="Dallas">
            <label for="Dallas"> <span class = "black">Dallas</span></label><br><br>
            
            <button class = "butt" type ="submit" >Submit and Continue!</button>

        </form>
        <br><br><br>

 
</body>
</html>