<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styleNew.css" />

        
         

</head>
<body>
    <h1>The Basics...</h1>
    

        <form class="form" enctype="multipart/form-data" action="/daters/profilePic" method="POST">
        
        <label>Upload Profile Picture:</label><br><br>
        <div id = "specialDiv" class = "imagePreview">
        <input type="file" id="profilePic" name="profilePic" accept="image/*"><br><br>
       
            <img id = "specialImage" width = "100" height = "100" src = "" alt = "Image Preview">
            <button id = "smallButton" type ="submit" >Submit Profile Pic!</button>

        </div>
        <br><br><br>

        <script>
            const inputFile = document.getElementById('profilePic');
            const previewDiv = document.getElementById('specialDiv');
            const previewImage = document.getElementById('specialImage');
            const button = document.getElementById('smallButton');
            
            inputFile.addEventListener('change',function(){
                const file = this.files[0];
                if(file){
                    const reader = new FileReader();
                    reader.addEventListener('load',function(){
                        previewImage.setAttribute('src',this.result);
                    })
                    reader.readAsDataURL(file);
                    button.style.display = "inline";

                }
            })
           
        </script>

        </form>

        <form class="form" action="/daters/new/Basics" method="POST">

            <div class = "custom-select">
              
            <label>Gender: </label>
            <select name="gender" class = "inputs" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select> <br><br>
            </div>
           
      
            <label>Interested in (Check All That Apply):</label><br><br>
      
            <input type="checkbox" id = "Men" class ="checks" name="interestedIn" value="Men">
            <label for="Men"> Men</label><br><br>
            <input type="checkbox" id = "Women" class ="checks" name="interestedIn" value="Women">
            <label for="Women"> Women</label><br><br>
            <input type="checkbox" id = "Other" class ="checks" name="interestedIn" value="Other">
            <label for="Other"> Other</label><br><br>
    
            <label>Age:</label><br>
            
            <input  required type="text" name="age" class = "inputs" ><br>
            <br><br><br>
    
            <label>Location:</label><br><br>
            <input type="radio" id = "DT Los Angeles" class ="checks" name="location" value="DT Los Angeles">
            <label for="Men">DT Los Angeles</label><br><br>
            <input type="radio" id = "Denver" class ="checks" name="location" value="Denver">
            <label for="Women"> Denver</label><br><br>
            <input type="radio" id = "Santa Monica" class ="checks" name="location" value="Santa Monica">
            <label for="Other"> Santa Monica</label><br><br>
            
            <button class = "butt" type ="submit" >Submit and Continue!</button>

        </form>
        <br><br><br>

 
</body>
</html>