<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styleNew.css" />

        
         

</head>
<body>

    <div class="topnav">
        <a href="#news">My Top Matches</a>
        <a href = "/daters/home">Home Page</a>
        <div class="search-container">
            <form id = "searchForm">
              <input id = "searchBar" type="text" size = "30" height="30"placeholder="Search By Name.." name="search">
              <button id = "searchButton" type="submit"></button>
            </form>
    </div>
        <a id = "logout" href="/logout">Logout</a>
        
    </div>

       
            
    
    <h1>The Basics...</h1>
    
        <form class="form" enctype="multipart/form-data" action="/daters/profilePic" method="POST">
        
        <label>Upload Profile Picture:</label><br><br>
        <input type="file" id="profilePic" name="profilePic" accept="image/*"><br><br>

        <div id = "specialDiv" class = "imagePreview">
       
            <img id = "specialImage" width = "100" height = "100" src = "" alt = "Image Preview">
            <button id = "smallButton" type ="submit" >Submit Profile Pic!</button>

        </div>
        <br><br><br>

        <script>
            const inputFile = document.getElementById('profilePic');
            const previewDiv = document.getElementById('specialDiv');
            const previewImage = document.getElementById('specialImage');
            const button = document.getElementById('smallButton');
            
            inputFile.addEventListener('change',function(){
                const file = this.files[0];
                if(file){
                    const reader = new FileReader();
                    reader.addEventListener('load',function(){
                        previewImage.setAttribute('src',this.result);
                    })
                    reader.readAsDataURL(file);
                    button.style.display = "inline";

                }
            })
            button.addEventListener('click',function(){
                button.style.display = 'none';
            })
           
        </script>

        </form>

        <form class="form" action="/daters/new/Basics" autocomplete="off" method="POST">

            <div class = "custom-select">
              
            <label><span class = "snass">Gender:   </span></label>
            <select name="gender" id = "dropdown" class = "inputs" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select> <br><br>
            </div>
           
            <br><br>
            <label><span class = "snass">Interested in </span>(Check All That Apply):</label><br><br>
      
            <input type="checkbox" id = "M" class ="checks" name="interestedIn" value="Male">
            <label for="M"> <span class = "red">Men</span></label><br><br>
            <input type="checkbox" id = "W" class ="checks" name="interestedIn" value="Female">
            <label for="W"> <span class = "black">Women</span></label><br><br>
            <input type="checkbox" id = "O" class ="checks" name="interestedIn" value="Other">
            <label for="O"> <span class = "red">Other</span></label><br><br>
            <br><br>
            <label><span class = "snass">Age:</span></label>
            
            <input  required type="text" name="age" size="10" class = "style" > 
            <br><br><br><br>
    
            <label><span class = "snass">Location:</span></label><br><br>
            <input type="radio" id = "DT Los Angeles" class ="checks" name="location" value="DT Los Angeles">
            <label for="DT Los Angeles"><span class = "black">DT Los Angeles</span></label><br><br>
            <input type="radio" id = "Denver" class ="checks" name="location" value="Denver">
            <label for="Denver"> <span class = "red">Denver</span></label><br><br>
            <input type="radio" id = "Santa Monica" class ="checks" name="location" value="Santa Monica">
            <label for="Santa Monica"> <span class = "black">Santa Monica</span></label><br><br>
            <input type="radio" id = "Austin" class ="checks" name="location" value="Austin">
            <label for="Austin"> <span class = "red">Austin</span></label><br><br>
            <input type="radio" id = "Dallas" class ="checks" name="location" value="Dallas">
            <label for="Dallas"> <span class = "black">Dallas</span></label><br><br>
            
            <button class = "butt" type ="submit" >Submit and Continue!</button>

        </form>
        <br><br><br>

 
</body>
</html>