<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styleNew.css" />

        
         

</head>
<body>

    <div id = "lightning">
    <h1 id = "time">Time for some Lightning Questions!</h1>


    <h3 class = "questionHeader">How Extroverted Are You?</h3>

    <div class = "scaleAxes">
    <p>Very Introverted</p>
    <p id = "extroverted">Very Extroverted</p>
    </div>


<div class = "left">
    <form class="form" action="/daters/new/extroverted" method="POST"><button class = "butt" name = "extroverted" type ="submit" value = "1">1</button></form>
    <form class="form" action="/daters/new/extroverted" method="POST"><button class = "butt" name = "extroverted" type ="submit" value = "2">2</button></form>
    <form class="form" action="/daters/new/extroverted" method="POST"><button class = "butt" name = "extroverted" type ="submit" value = "3">3</button></form>
    <form class="form" action="/daters/new/extroverted" method="POST"><button  class = "butt" name = "extroverted" type ="submit" value = "4">4</button></form>
    <form class="form" action="/daters/new/extroverted" method="POST"><button  class = "butt" name = "extroverted" type ="submit" value = "5">5</button></form>
    <form class="form" action="/daters/new/extroverted" method="POST"><button  class = "butt"  name = "extroverted" type ="submit" value = "6">6</button></form>
    <form class="form" action="/daters/new/extroverted" method="POST"><button class = "butt" name = "extroverted" type ="submit" value = "7">7</button></form>
    <form class="form" action="/daters/new/extroverted" method="POST"><button  class = "butt" name = "extroverted"  type ="submit" value = "8">8</button></form>
    <form class="form" action="/daters/new/extroverted" method="POST"><button  class = "butt" name = "extroverted" type ="submit" value = "9">9</button></form>
    <form class="form" action="/daters/new/extroverted" method="POST"><button class = "butt" name = "extroverted" type ="submit" value = "10">10</button></form>
    <br><br><br>
</div>

    <h3 class = "questionHeader">How Messy Are You?</h3>

    <div class = "scaleAxes">
    <p>Clean as a Whistle</p>
    <p id = "farmAnimal">Farm Animal</p>
    </div>

    <div class = "left">

    <form class="form" action="/daters/new/messyness" method="POST"><button name = "messyness" class = "butt" type ="submit" value = "1">1</button></form>
    <form class="form" action="/daters/new/messyness" method="POST"><button name = "messyness" class = "butt" type ="submit" value = "2">2</button></form>
    <form class="form" action="/daters/new/messyness" method="POST"><button name = "messyness" class = "butt" type ="submit" value = "3">3</button></form>
    <form class="form" action="/daters/new/messyness" method="POST"><button  name = "messyness" class = "butt" type ="submit" value = "4">4</button></form>
    <form class="form" action="/daters/new/messyness" method="POST"><button  name = "messyness" class = "butt" type ="submit" value = "5">5</button></form>
    <form class="form" action="/daters/new/messyness" method="POST"><button  name = "messyness" class = "butt" type ="submit" value = "6">6</button></form>
    <form class="form" action="/daters/new/messyness" method="POST"><button name = "messyness" class = "butt" type ="submit" value = "7">7</button></form>
    <form class="form" action="/daters/new/messyness" method="POST"><button  name = "messyness" class = "butt" type ="submit" value = "8">8</button></form>
    <form class="form" action="/daters/new/messyness" method="POST"><button  name = "messyness" class = "butt" type ="submit" value = "9">9</button></form>
    <form class="form" action="/daters/new/messyness" method="POST"><button name = "messyness" class = "butt" type ="submit" value = "10">10</button></form>
    <br><br><br>
    </div>

    <h3>Book or Movie?</h3>

    <div class = "left">


    <form class="form" action="/daters/new/book" method="POST"><button name = "book" class = "butt" type ="submit" value = "true">Books All The Way</button></form>
    <form class="form" action="/daters/new/book" method="POST"><button name = "book" class = "butt" type ="submit" value = "false">Movie FTW</button></form>
    </div>
    <br><br><br>


    <h3>What Type of Music Do You Like?</h3>
    <h4>Select all that apply</h4>

    
    <div class = "left">
    <form class="form" action="/daters/new/music" method="POST"><button name = "music" class = "butt" type ="submit" value = "Rap">Rap</button></form>
    <form class="form" action="/daters/new/music" method="POST"><button name = "music" class = "butt" type ="submit" value = "Hip-Hop">Hip-Hop</button></form>
    <form class="form" action="/daters/new/music" method="POST"><button name = "music" class = "butt" type ="submit" value = "Classical">Classical</button></form>
    <form class="form" action="/daters/new/music" method="POST"><button  name = "music" class = "butt" type ="submit" value = "Rock-n-Roll">Rock-n-Roll</button></form>
    <form class="form" action="/daters/new/music" method="POST"><button  name = "music" class = "butt" type ="submit" value = "R&B">R&B</button></form>
    </div><br>
    <div class = "left">
    <form class="form" action="/daters/new/music" method="POST"><button name = "music"  class = "butt" type ="submit" value = "Country">Country</button></form>
    <form class="form" action="/daters/new/music" method="POST"><button name = "music" class = "butt" type ="submit" value = "Reggae">Reggae</button></form>
    <form class="form" action="/daters/new/music" method="POST"><button name = "music"  class = "butt" type ="submit" value = "Jazz">Jazz</button></form>
    <form class="form" action="/daters/new/music" method="POST"><button name = "music"  class = "butt" type ="submit" value = "Heavy Metal">Heavy Metal</button></form>
    <form class="form" action="/daters/new/music" method="POST"><button name = "music" class = "butt" type ="submit" value = "Alternative">Alternative</button></form>
    </div>
   
    <br><br><br>
    

    <h3>Taylor Swift or Katie Perry?</h3>
    <h4>Which choice best described your feelings?</h4>


    <div class = "left">

    <form class="form" action="/daters/new/taylorSwift" method="POST"><button name = "taylorSwift" class = "butt" type ="submit" value = "1">Taylor, of course</button></form>
    <form class="form" action="/daters/new/taylorSwift" method="POST"><button name = "taylorSwift" class = "butt" type ="submit" value = "2">I'm with Katy</button></form>
    <form class="form" action="/daters/new/taylorSwift" method="POST"><button name = "taylorSwift" class = "butt" type ="submit" value = "3">Don't ask me dumb questions</button></form>
   
    </div>
    <br><br><br>    <br><br><br>


    <div id = "continue">
    <img src = "/images/788px-Love_Heart_symbol.svg.png" width = "100"></img>
    <form class="form" action="/daters/new/Personal" method="GET"><button class = "butt" type ="submit" >Continue To Last Step!</button></form>
    <img src = "/images/Cupid_Silhouette_PNG_Clip_Art.png" width = "100"></img>
    </div>
    
    <br><br><br><br><br><br><br><br><br><br>





<script>
    let buttons = document.getElementsByClassName('butt');
    
    for(let i = 0; i<buttons.length; i++){
        buttons[i].addEventListener('click',function(){
            
            buttons[i].style.border = '5px solid black';        
      
        });
    }

    
</script>


      
</body>
</html>