<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/styleNew.css" />

    <title>Document</title>
</head>
<body>

    <form class="form" action="/daters/new/bio" method="POST">

    <div id = "centerMe">

    <h1>Personal Bio</h1>

    <h3>What Do You Want Others to Know About You?</h3>

    <textarea required name = "bio" maxlength="300" placeholder="Keep it short and sweet. No Shakespeare, just you in a nutshell..." cols="70" rows="10"></textarea>
    <br>  <br>  <br>  <br>  <br>
    <button class = "butt" type ="submit">Finalize!</button>
</form>

</div>
    
</body>
</html>