
:root {
  --postedCommentsHeight:340px;
  --postedCommentsWidth: 415px;
  --indCommentWidth: 395px;
  
}

#welcomePage{

  text-align: center;
}
.brand-logo {
  margin-left: 15px;
}

.red{
  color: rgb(219, 0, 0);
}

#loginLink{
  font-size: 20px;
}
.lists{
  font-size: 20px;
}
.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}
#searchButton{
  background: url("../images/search.png") no-repeat scroll 0 0 transparent;
  background-size: 25px 25px;
  border-radius: 20px;
  background-position: center;
  background-color: white;
  border: 1px solid black;
  padding: 18px 18px;
  width: 50px;

}
#searchButton:hover{
  padding: 19px 19px;
  cursor: pointer;
}

.student-name {
  position: relative;
  top: -5px;
}

.underline:hover{
  text-decoration:underline ;

}
.bold{
  font-weight: 800;
}

#top{
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
#bottom{
  padding-top: 1px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.commentText{
  margin: 0px 0px 0px 15px;

  
  
  width: 400px;
}

#postedComments{
  margin-top: 0px;
  height: var(--postedCommentsHeight);;
  width: var(--postedCommentsWidth);
  justify-items: center;
  overflow: auto;
  border:2px solid black;
  border-radius: 25px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

}


#leaveAComment:hover{
  font-size: 24px;
}
.indComment{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  width: var(--indCommentWidth);
  border-radius: 15px;
  margin: 0 auto;
  margin-top:8px;
  padding-top: 0px;
  border: 2px solid black;
  }

.collection-item form {
  margin-top: -5px;
}
.topnav,img {
  border-radius:25px;
  overflow: hidden;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}




.topnav a {
  float: left;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

body{
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);

}

#profile{
  
  border: 2px solid black;
  border-radius: 25px;
  width: 400px;
  
  
}

#vertical{
  text-align: left;
  width:405px;
  margin-right: 5px;
  
}
#fastFacts{
  text-align:left;
  font-size: 22px;
}

#messageName{
  display:flex;
  flex-direction: left;

  margin-left: 5%;
  font-size: 24px;
  font-weight: 550;
  margin-bottom: 0px;
}



#stickyDown{
  display:none;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-left:8px;
  text-align: center;
  border: 2px solid black;
  background-color: #faf0e6;
  border-radius: 25px;
  position: fixed;
  bottom: 0;
  left: 10%;
  width: 100%; 
  width: 308px;
  height: 345px;
  border: 3px solid black;
}
#closeMessage{
  background-color: transparent;
  border: 1px;
  border-radius: 15px;
  font-size: 18px;
  position:absolute;
  left:84%;
}

#closeMessage:hover{
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}


#privateMessage{
  margin-top: 5px;
  resize: none;
  font-size: 16px;
  width: 280px;
  height: 260px;
}

#privateMessage:focus{
  border: 3px solid limegreen;

}

#messageHeader{
  background-color: lightskyblue;
  text-align:center;
  width: 300px;
  height: 30px;
  border-radius: 15px;
  font-size: 20px;
}
#privateMessageButton{
  background-color: rgb(109, 238, 109);
  border-radius: 14px;
  font-size: 22px;
  outline:none;
}

#otherName{
  display:  inline;
}

#puzzleButton{
  margin-left: 0px;
  margin-top: 18px;
  background: url("../images/vector-puzzle-simple-solutions-compatibility-flat-color-line-icon-solving-problem-symbol-sign-illustration-design-isolated-152295645.jpg") no-repeat scroll 0 0 transparent;
  background-size: 38px 38px;
  background-position: center;
  border-radius: 15px;
  background-color: transparent;
  padding: 18px 18px;
  width: 50px;
  border: none;
}


#puzzleButton:hover{
  background-size: 40px 40px;
  padding: 20px 20px;

  cursor: pointer;
  outline:none;
}




#messageForm{
  display: inline-block; 
  margin: 0 auto;
}



#privateMessageButton:hover{
  font-size: 23px;
  border: 1px solid black;
  cursor: pointer;

}

#privateMessage{
  border-radius: 15px;
  outline:none
}

#messageButton{
  margin-left: 15px;
  margin-top: 18px;
  background: url("../images/hiclipart.com.png") no-repeat scroll 0 0 transparent;
  background-size: 38px 38px;
  background-position: center;
  border-radius: 15px;
  background-color: transparent;
  padding: 18px 10px;
  width: 50px;
  border: none;
  margin-right: 5px;


}




#tooltiptext {
  visibility: hidden;

  color: rgb(0, 0, 0);
  text-align: center;
  opacity:0.6;
  border-radius: 6px;
  background-color: linen;
  padding: 5px 0;
  position: absolute;
  top:0%;
  left:25%;
  font-size: 14px;
  z-index: 1;
}





#messageButton:hover{
  background-size: 40px 40px;
  padding: 20px 20px;

  cursor: pointer;
  outline:none;
}

#secret:hover #tooltiptext{
visibility: visible;
}


#hiddenPuzzle{
  visibility: hidden;
  font-weight: 400;
}

#puzzleDiv:hover #hiddenPuzzle{
visibility: visible;
}



.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
#personalInfo{
  position: absolute;
  top: 15%;
  left:15%;
  display:flex;
  flex-direction:left;
}
.weak{
  opacity:0.6;
  font-size: 15px;
}

#bigMessageDiv{

  margin: 0 auto;
  border: 2px solid black;
  border-radius: 25px;
  width: 450px;
  height: 500px;
  background-color: silver;
  overflow:auto;
  margin-bottom:0px;

}
#sendMessageForm{
  margin: 0 auto;
}


.messagePageInfo{
  text-align: center;

}

.fromMe{
  display:block;
  width: fit-content; 
  background-color: lightskyblue;
  max-width:360px;
  margin-bottom: 8px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid black;

}

.alex { margin:2px; }

.wrapperDiv{
  width: 450px;
  display:block;
  position:relative;
  
}

.wrapperDiv .fromMe{
  margin-left: auto;
margin-right: 0;
  
}


.toMe{
  display:block;
  width: fit-content; 
  max-width:360px;
  margin-top: 0px;
  padding: 0px;
  display:block;
  background-color:linen;
  margin-bottom: 8px;
  min-width: 80px;
  max-width: 350px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid black;

}

.summary{
  display:flex;
  flex-direction:left;
  background-color: #ddd;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 10px;
}


.miniPhotos{
  margin-left: 20px;
  border: 1px solid black;
}
.light{
  opacity: 0.6;
}

.summaryContent{
  margin-left: 10px;
  
}


.miniPhotos:hover{
  border: 2px solid black;
  cursor: pointer;
}

.profileLinks{
  color: rgb(41, 29, 204);
  text-decoration:none;
  font-size: 20px;
}
.profileLinks:hover{
  font-size: 21px;
}

#saying{
  margin-left: 17%;
}

#commentSection{
  margin-left: 3%;
  margin-top: 1%;
}

#comments,label,input{
    display:block;
}
#lastForm{
  margin: 0 auto;
  margin-top:0px;
  
  
  
}

#comments{
  text-align: center;
  font-size: 22px;
  margin-top: 3%;
  margin-right: 20%;
}
.search-container, #searchForm{
  width: 100px;
  height: 20px;
  margin: 0 auto;
  display:flex;
  flex-direction:left;
}
#searchForm{
  margin-top: 5%;
  
}

#searchBar{
  margin-top: 2%;
  border: 1px solid black;
  border-radius: 20px;
  margin-right: 10px;
  outline:none;

}
#searchBar:hover{
  padding: 16px 11px;
  cursor: auto;
  
}
#searchBar:focus{
  padding: 16px 11px;
  border: 2px solid black;


  cursor: pointer;
  
}


input[type="text"]{ padding: 15px 10px; }



#text{
  margin-top: 5px;
  outline:none;
}
#text:focus{

border: 3px solid limegreen;
}
textarea { font-size: 14px; }



#delButt{
  background-color: #accbee;
  border-radius: 15px;
  border: 1px solid black;
  font-size: 16px;

}
#delButt:hover{
  font-size: 17px ;
  border: 2px solid black;
  cursor: pointer;


}

#deleteComment{
text-align: right;

}
#wholeMessage {

  margin: 0 auto;
  
  border: 2px solid black;
  width: 450px;
  height: 700px;
  border-radius: 25px;
  background-color: rgb(134, 162, 190);
}

#wholeMessage #lastForm {
  text-align: center;
}

#search-container{
  position:absolute;
  align-self: right;
}
.topnav a.active,#send {
  font-size:16px;
  border-radius:25px;
  background-color: #4CAF50;
  color: white;
}

.topnav a.active:hover,#send:hover {
  font-size:18px;
  cursor: pointer;

 
}
.topnav{
  position:relative;
}
.topnav #logout{
  position:absolute;
  right: 0;
  top:0;
}
#send{
  padding: 10px 20px;
}
.content,.collapsible,#text{
  border-radius: 12px;
}

