#lightning,#continue{
    position: absolute;
    left: 15%;
}
#smallButton{
    background-color: rgb(196, 189, 189);
    border-radius: 10px;
    font-size: 16px;
    border: 3px solid black;
    display:none;
    height: 40px;
    margin-left: 30px;
    margin-top: 30px;
}

#specialImage{
  
  margin-left: 0px;
  height: 100%;
  width: auto;
}



.topnav a.active,#send {
    font-size:16px;
    border-radius:25px;
    background-color: #4CAF50;
    color: white;
  }

  .topnav #logout{
    
    position:absolute;
    right: 0;
    top:0;
  }

  .search-container, #searchForm{
    width: 100px;
    height: 20px;
    margin: 0 auto;
    display:flex;
    flex-direction:left;
  }
  #searchForm{
    margin-top: 5%;
    
  }
  
  #searchBar{
    margin-top: 2%;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 10px;
    outline:none;
  
  }
  #searchBar:hover{
    padding: 16px 11px;
    cursor: auto;
    
  }

#homeA{
  margin-left:15px;
}
.topnav,img {
  border-radius:25px;
  overflow: hidden;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}


  #logout{
      background-color: rgb(53, 204, 39);
      color:black;
      padding:15px;
      border-radius: 25px;
      text-decoration: none;

  }

  
#searchButton{
    background: url("../images/search.png") no-repeat scroll 0 0 transparent;
    background-size: 25px 25px;
    border-radius: 20px;
    background-position: center;
    background-color: white;
    border: 1px solid black;
    padding: 18px 18px;
    width: 50px;
  
  }

  #searchButton:hover{
    padding: 19px 19px;
    cursor: pointer;
  }

  #goback{
    background-color: rgb(30, 179, 87);
    border-radius: 10px;
    color:black;
    text-decoration: none;
    padding: 10px;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }
  .search-container, #searchForm{
    width: 100px;
    height: 20px;
    margin: 0 auto;
    display:flex;
    flex-direction:left;
  }
  #searchBar:focus{
    padding: 16px 11px;
    border: 2px solid black;
  
  
    cursor: pointer;
    
  }
  
  
  input[type="text"]{ padding: 15px 10px; }
  
  .topnav a.active:hover,#send:hover {
    font-size:14px;
    cursor: pointer;
  
   
  }

  .topnav a {
    float: left;
    color:black;
    text-align: center;
    height: 25px;
    padding-top: 14px;
    padding-bottom: 14px;

    text-decoration: none;
    font-size: 17px;
  }
  .topnav{
    position:relative;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

#smallButton:hover{
    font-size: 17px;
    border: 2px solid black;
    cursor: pointer;

}


#dropdown{
    width: 100px;
}
#dropdown text{
text-align: center;}
#smallButton:active{
    opacity:0.6;
}
.style{
    border-radius: 5px;
    font-size: 20px;
}
.snass{
    font-size: 26px;
    color: black;
    font-style: italic;
    font-weight: 800;
}

ul{
    display:flex;
    flex-direction:left;
}
a{
    font-size: 25px;
    color: rgb(39, 20, 126)
}
#continue{
    display:flex;
    flex-direction: left;
}
#specialDiv{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(122, 114, 114);
    border-radius: 10px;
    text-align: center;
   
}
.flexLeft{
  display: flex;
  flex-direction: left;
}

a:hover{
    font-size: 20px;

}

.scaleAxes{
    display:flex;
    flex-direction: left;
}
#time{
    margin-bottom: 40px;
}
#extroverted{
    position: absolute;
    right: 40%
}
.questionHeader{
    margin-bottom: 7px;
    margin-top: 12px;
}
body{
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  
  }

#farmAnimal{
    position: absolute;
    right: 40%
}

.left{
    display:flex;
    flex-direction:left;
}

#centerMe{
    position: absolute;
    left: 35%;
    text-align: center;
}


img{
    margin-left: 1em;
    margin-right: 1em;
}
.red{
    color: rgb(187, 31, 31);
    font-weight: 800px;
    font-size: 22px;
}

.black{

    color: rgb(0, 0, 0);
    font-weight: 800px;
    font-size: 22px;

}
.butt{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 5px;
        margin-right: 0.6em;
    font-size: 22px;
    border: 2px solid black;

}

input[type='file'] {
    color: transparent;
  }

.butt:hover{
    font-size:26px;
    border: 2px solid black;
}
.butt:active{
    font-size:27px;
    border: 1px solid black;
    opacity: 0.6;
}